@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&family=Quicksand:wght@300;700&display=swap');
@font-face {
    font-family: 'IcoMoon-Free';
    src: url('fonts/IcoMoon-Free.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root{
    --main-color: #3A8C92;
    --accent-1: #e47c75;
    --accent-2: #004688;
    --white: #FFFBFC;
    --black: #2d2d2d;
    --gray-dark: #30332E;
    --gray-med: #696969;
    --gray-light: #c7c7c9;
    --base-font-size: 16px;

    /* padding */
    --sm-padding: 4px;
    --md-padding: 8px;
    --lg-padding: 16px;

    --gutter-sm: 16px;
    --gutter-md: 24px;
    --gutter-lg: 32px;

    --wd-1: 344px;
    --wd-2: 760px;
    --wd-3: 1160px;

    --margin-sm: 8px;
    --margin-md: 12px;
    --margin-lg: 16px;

    --font-heading: 'Noto Sans', sans-serif;
    --font-body: 'Quicksand', sans-serif;

    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;

}
.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'IcoMoon-Free' !important; /* this important is directly from the icomoon library and is used purpousfully */
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* icons */
.icon-envelop:before {
    content: "\e945";
}
.icon-phone:before {
    content: "\e942";
}
.icon-menu:before {
    content: "\e9bd";
}
/* base elements */
html {
    background-color: var(--main-color);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0 0;
    border: none;
    background-color: var(--white);
    font-family: var(--font-body);
}

header {
    margin: 0 0;
    padding-top: var(--sm-padding);
    background-color: var(--main-color);
    text-align: center;
    color:var(--white);
    font-family: var(--font-heading);
    overflow: hidden;
}


h1{ font-size: 24px; padding-bottom: 0px; margin-bottom: var(--margin-sm);}
h2{ 
    color:var(--accent-2); 
    font-size: 22px;
    padding: 0 0 0 var(--gutter-sm);
}
h3{ 
    color:var(--accent-2); 
    font-size: 18px;
}
h4{ 
    color:var(--accent-2); 
    font-size: 14px;
    margin-bottom:var(--margin-sm);
    margin-top: var(--margin-sm);
}
p{font-size: 20px;}
.text-small {
    font-size: 10px;
    font-weight: 100;
}
/* ul nav..ug =,$ */
nav{position:relative;}
nav ul {
    display: flex;
    flex:1;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: var(--font-heading);
}
nav ul li{
    border-bottom: 1px solid var(--black);
    border-top: 1px solid var(--white);
    
}
nav ul li a {
    display: block;
    line-height: 44px;
    color: var(--gray-dark);
    text-decoration: none;
    background-color:var(--accent-1);
    text-align: center;
}
nav ul li a:hover{
    color:var(--white);
    background-color:var(--accent-2);
}



/* header */
.header-wrapper{
    display: grid;
    grid-template-columns: 85px auto 66px;
    text-align: left;

}

.header-wrapper .logo{
    width: 100%;
}
.header-wrapper .motto{
    font-style: italic;
    font-weight: 100;
    text-indent: var(--sm-padding);
    color:var(--accent-2);
}
.header-wrapper .icon-menu{
    font-size: 40px;
    display: grid;
    justify-content: center;
    align-content: center;
}
/* nav */
#nav_menu{
    display:none;
}
#nav_menu.menu_active{
    display:block;
}
/* main */
main{
    position:relative;
}
main .content-wrapper .content-block{
    display: block;
    background-color: var(--gray-light);
    margin: var(--margin-sm) 0;
    padding:var(--sm-padding) var(--gutter-sm);
}
/* Footer  */
footer{
    padding: var(--sm-padding) 0;
    text-align: center;
    background-color: var(--black);
    color:var(--white);
    font-family: var(--font-heading);
}
footer{max-width: 100%;}
footer .contact{
    padding-bottom: var(--md-padding);
}
footer a{
    color: var(--white);
}
footer .contact div{
    margin: var(--margin-sm) 0;
}
footer .map iframe{
    max-width: 100%;
    margin-top: var(--margin-sm);
}
footer .footer-bar{
    margin: var(--margin-sm) 0;
}
.banner_bar{
    display: none;
}
.banner_bar.display_true{
    display: block;
}