@media only screen and (min-width: 32.5em) {
  /* base elements */
#nav_menu{
  display: flex; 
  justify-content: space-evenly;
}
h2{ 
  padding: 0 0 0 var(--gutter-md);
}
h4{font-size: medium;}
nav{
  position:relative;
  background-color:var(--accent-1);
  padding-right: 2rem;
}
nav ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
nav ul li{
    border-bottom: none;
    border-top: none;
    
}
nav ul li a.current{
  border-bottom: 2px solid var(--accent-2);
}
nav ul li a {
  padding: 1rem .5rem .9rem;
  line-height: 1.2;
}
nav ul li a:hover {
  border-bottom: 2px solid var(--accent-2);
}

/* header */
.header-wrapper{
    grid-template-columns: 5.5rem auto ;
}
.header-wrapper .icon-menu{
    display: none;
}
/* main */
main{
    position:relative;
}
main .content-wrapper .content-block{
    margin: var(--margin-md) 0;
    padding:var(--md-padding) var(--gutter-md);
}
main, footer{
  max-width: 768px;
  margin: 0 auto;

}
/* Footer  */
footer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "content map"
    "footer-bar footer-bar";
  padding: var(--md-padding) 0;
}
.footer-bar { grid-area: footer-bar; }
.map { grid-area: map; }

footer div{
  padding: 0 var(--gutter-md);
  margin: var(--margin-sm) 0;
}
footer .contact{
    padding-bottom: var(--md-padding);
    grid-area: content;
    text-align: left;
    
}
footer .footer-bar{
    margin: var(--margin-md) 0;
}


.map{
  display: block;
}
.forcast{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}
.forcast .day_abbrev{
  background-color: var(--xprimary);
  color: var(--white);
  padding: var(--md-padding) 2rem;
  font-weight: 800;
}
#gallery{
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
}