@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&family=Quicksand:wght@300;700&display=swap');
:root {
    --main-color: #3A8C92;
    --accent-1: #EE6055;
    --accent-2: #cfb400;
    --white: #FFFBFC;
    --black: #2d2d2d;
    --gray-dark: #30332E;
    --gray-med: #696969;
    --gray-light: #c7c7c9;
    --base-font-size: 16px;

    /* padding */
    --sm-padding: 4px;
    --md-padding: 8px;
    --lg-padding: 16px;

    --wd-1: 344px;
    --wd-2: 760px;
    --wd-3: 1160px;

    --margin-sm: 12px;
    --margin-md: 16px;
    --margin-lg: 24px;

    --font-heading: 'Noto Sans', sans-serif;
    --font-body: 'Quicksand', sans-serif;

    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;

}

/* base elements */
html {
    background-color: var(--main-color);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0 0;
    border: none;
    background-color: var(--white);
    font-family: var(--font-body);
}

header {
    margin: 0 0;
    padding-top: var(--sm-padding);
    background-color: var(--main-color);
    text-align: center;
    color:var(--white);
    font-family: var(--font-heading);
    overflow: hidden;
}
main{
    padding: 16px;

}
footer{
    padding: 12px;
    text-align: center;
    background-color: var(--black);
    color:var(--white);
    margin: 0 -2vw;
    font-family: var(--font-heading);
}
h2{ color:var(--accent-1); font-size: 22px;}
h3{ color:var(--accent-2); font-size: 18px;}
p{font-size: 20px;}
/* non ul nav */
nav#nav_menu{
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    display: grid; 
    width: 100%;
    background-color: var(--accent-1);
}
nav#nav_menu>*:first-child{padding-left: 16px;}
nav#nav_menu>*:last-child{padding-right: 16px;}
nav#nav_menu a{
    padding: 16px 8px;
    font-size: 24px; 
    color: #fff;
    text-decoration: none;
    background-color: var(--accent-1);
}
nav#nav_menu a:hover{
    color: var(--gray-dark);
    background-color: var(--accent-2);
}

/* color-block */
.color-block{
    width: 100%;
    display: grid;
}
.color-block .__color{
    padding: 20px;
}
.color-block .site-header{
    background-color: var(--main-color);
}
.color-block .site-footer{
    background-color: var(--gray-dark);
}
.color-block .accent1{
    background-color: var(--accent-1);
}
.color-block .border{
    background-color: var(--accent-2);
}